# Ignorar archivos de compilación
bin/
obj/

# Ignorar archivos de configuración de usuario
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignorar archivos de log
*.log

# Ignorar carpetas de dependencias
node_modules/

.containers/
src/CleanArchitecture/CleanArchitecture.Api/bin/
src/CleanArchitecture/CleanArchitecture.Application/bin/Debug/net8.0/CleanArchitecture.Application.pdb
